################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Can2Rest/.vs
/Can2Rest/Can2Rest/.config
/Can2Rest/Can2Rest/bin
/Can2Rest/Can2Rest/obj
/Can2Rest/CanClient/bin
/Can2Rest/CanClient/obj
